@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*{
    font-family: IBM Plex Sans;
    margin-left: 0px;
    margin-top: 0px;
}

#sidebar{
    float: left;
    background-color: black;
    color: white;
    width: 285px;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    display: flex;
}

nav{
    margin-left: 48px;
    margin-bottom: 48px;
}

nav h1{
    margin-top: 56px;
    margin-bottom: 101px;
    font-weight: 700;
    font-style: bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

#nav{
    display: block;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 218px;
}

.navi{
    width: fit-content;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    position: relative;
}

.navi:active::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px; 
    background: linear-gradient(to left,
    rgba(255,177,71,1),
    rgba(255,108,99,1),
    rgba(184,106,223,1));
    transform: translateY(-50%);
}

.navi_special{
    width: fit-content;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    position: relative;
}

.navi_special:active::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px; 
    background: linear-gradient(to left,
    rgba(255,177,71,1),
    rgba(255,108,99,1),
    rgba(184,106,223,1));
    transform: translateY(-50%);
}

#socials{
    display: block;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 30px;
}

.socials_list{
    margin-bottom: 12px;
}

.socials_img{
    width: 40px;
    height: 40px;
}

#copyright{
    width: 189px;
    height: 44px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
}

#heading{
    padding-top: 100px;
    padding-left: 502px;
    margin-bottom: 48px;
}

h3{
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

h2{
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}

.blog_div{
    display: flex;
    padding-left: 115px;
    padding-bottom: 85px;
}

.blog_margin{
    margin-right: 86px;
    border-bottom: 1px solid rgba(20, 19, 19, 0.2);
}

.blog_img{
    width: 315px;
    height: 260px;
    margin-bottom: 24px;
}

.date{
    width: 112px;
    height: 24px;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.image_description{
    width: 315px;
    height: 60px;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
}

#load_more{
    padding-left: 55%;
    padding-bottom: 175px;
}

#load{
    display: flex;
    width: fit-content;
    height: 56px;
    background-color: black;
    color: white;
    align-items: center;
    padding: 0px 40px;
    gap: 8px;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.vector{
    width: 24px;
    height: 24px;
}